.team {
	&__title {
		margin-bottom: 30px;
	}

	&__title-container {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}

	&__img-container {
		margin-right: 1em;

		& img {
			border-radius: 50%;
			width: 150px;
		}
	}

	&__name {
		font-size: 28px;
		line-height: 28px;
		margin: 0;

		@media (max-width: 767px) {
			font-size: 22px;
			line-height: 22px;
		}
	}

	&__links {
		display: flex;
		margin-top: 15px;
	}

	&__link {
		margin-right: 15px;
	}
}
