.is-boxed {
    background: lighten(color(bg, 1), 4%);
}

.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 64px;
    padding-bottom: 64px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}

.github-button {
	margin: 16px 0 64px 0;

	@include media( '<medium' ) {
		width: 220px;
		margin-bottom: 32px;
		margin-left: 0 !important;
	}
}

.beta-button {
	margin: 16px 0 64px 0;

	@include media( '<medium' ) {
		margin-bottom: 8px;
	}
}
